In [1]:
import pandas as pd
import tensorflow as tf

## 데이터 준비

In [2]:
directory = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(directory)

In [3]:
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
ind_var = boston[['crim', 'zn', 'indus', 'chas', 'nox',
                 'rm', 'age', 'dis', 'rad', 'tax', 
                 'ptratio', 'b', 'lstat']]
dep_var = boston[['medv']]
print(ind_var.shape, dep_var.shape)

(506, 13) (506, 1)

## 모델의 구조 만들기

In [9]:
X = tf.keras.layers.Input(shape=[13]) #shape는 꼭 리스트 형태로 입력
y = tf.keras.layers.Dense(1)(X)

In [10]:
model = tf.keras.models.Model(X,y)
model.compile(loss='mse')

![](fig/Boston.png)

## 모델 학습

In [13]:
model.fit(ind_var,
          dep_var,
          epochs=10)
model.fit(ind_var,
          dep_var,
          epochs=1000,
          verbose=0)
model.fit(ind_var,
          dep_var,
          epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 686us/step - loss: 29961.9062
Epoch 2/10
16/16 [==============================] - 0s 748us/step - loss: 25365.8516
Epoch 3/10
16/16 [==============================] - 0s 623us/step - loss: 21183.0879
Epoch 4/10
16/16 [==============================] - 0s 748us/step - loss: 17415.8965
Epoch 5/10
16/16 [==============================] - 0s 686us/step - loss: 14056.7158
Epoch 6/10
16/16 [==============================] - 0s 561us/step - loss: 11125.2305
Epoch 7/10
16/16 [==============================] - 0s 686us/step - loss: 8578.3066
Epoch 8/10
16/16 [==============================] - 0s 623us/step - loss: 6449.8730
Epoch 9/10
16/16 [==============================] - 0s 623us/step - loss: 4670.4961
Epoch 10/10
16/16 [==============================] - 0s 561us/step - loss: 3263.4050
Epoch 1/10
16/16 [==============================] - 0s 686us/step - loss: 26.2299
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5560
Epoch 3/10
16/16 [==============================] - 0s 876us/step - loss: 26.4819
Epoch 4/10
16/16 [==============================] - 0s 686us/step - loss: 25.9053
Epoch 5/10
16/16 [==============================] - 0s 748us/step - loss: 26.4414
Epoch 6/10
16/16 [==============================] - 0s 627us/step - loss: 26.2492
Epoch 7/10
16/16 [==============================] - 0s 561us/step - loss: 25.8326
Epoch 8/10
16/16 [==============================] - 0s 623us/step - loss: 26.1209
Epoch 9/10
16/16 [==============================] - 0s 593us/step - loss: 25.7915
Epoch 10/10
16/16 [==============================] - 0s 748us/step - loss: 26.4521

In [18]:
pd.DataFrame(model.predict(ind_var[5:10]))

           0
0  27.325722
1  22.447908
2  19.439734
3  10.830853
4  19.011925

## 모델의 수식

In [20]:
model.weights

[<tf.Variable 'dense_4/kernel:0' shape=(13, 1) dtype=float32, numpy=
 array([[-0.08865708],
        [ 0.07281157],
        [-0.05022154],
        [ 3.2581725 ],
        [ 1.3560445 ],
        [ 4.0650163 ],
        [ 0.01751444],
        [-0.87549704],
        [ 0.15217116],
        [-0.007762  ],
        [-0.00965398],
        [ 0.01738676],
        [-0.57312834]], dtype=float32)>,
 <tf.Variable 'dense_4/bias:0' shape=(1,) dtype=float32, numpy=array([2.5387743], dtype=float32)>]

> 최종 수식은 다음과 같은 형태를 띄게 됨  
>  
$$y = -0.08865708x_1 + 0.07281157x_2 + -0.05022154x_3 + 3.2581725x_4 + 1.3560445x_5 + 4.0650163x_6 + 0.01751444x_7 + -0.87549704x_8 + 0.15217116x_9 + -0.007762x_10 + -0.00965398x_11 + 0.01738676x_12 + -0.57312834x_13 + 2.5387743$$